body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/restaurant.webp);
}

@font-face {
    font-family: Fortrack;
    src: url(./font/FortrackItalic-5zBj.otf);
}

@font-face {
    font-family: Momcake;
    src: url(./font/MomcakeBold-WyonA.otf);
}

#header {
    font-family: Fortrack;
    font-size: 70px;
    color: #F9ED69;
}

#generate-btn {
    align-self: center;
    font-family: Momcake;
    font-size: 20px;
    padding: 12px 6px;
    margin-bottom: 20px;
    background-color: #C9D6DF;
    border-radius: 3px;
}

#rgb-btn {
    align-self: center;
    font-family: Momcake;
    font-size: 20px;
    padding: 12px 6px;
    margin-bottom: 20px;
    background-color: #C9D6DF;
    border-radius: 3px;
}

#row-container {
    align-self: center;
    display: flex;
    justify-content: center;
    max-width: 780px;
    max-height: 780px;
    background-color: #C9D6DF;
    border-style: solid;
    border-width: 4px;
    border-color: #1E2022;
    border-radius: 3px;
    padding: .5px;
}

.row {
    display: flex;
    flex-direction: column;
}
.square {
    background-color: #F0F5F9;
    height: 14px;
    width: 14px;
    margin: .4px;
}

.square-hover {
    background-color: #52616B;
}

