body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#generate-btn {
    align-self: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 12px 6px;
    margin-bottom: 20px;
}

#row-container {
    align-self: center;
    display: flex;
    justify-content: center;
    width: 960px;
    height: 960px;
}

.row {
    display: flex;
    flex-direction: column;
}
.square {
    background-color:darkgrey;
    height: 15px;
    width: 15px;
    margin: .4px;
}

.square-hover {
    background-color: aqua;
}

